@font-face {
  font-family: GloriaHallelujah-Regular;
  src: url(./Fonts/GloriaHallelujah-Regular.ttf);
}
@font-face {
  font-family: RockSalt-Regular;
  src: url(./Fonts/RockSalt-Regular.ttf);
}

.Top-App {
  background-color: black;
  height: 100vh;
}

.App {
  text-align: center;
  background-image: url(./Images/pattern2.jpg);
  background-repeat: repeat;
  /* background-position: center center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(60deg);
  }
}

@keyframes ready {
  from {
    transform: rotate(0deg) translate(70%, 100%);
  }
  to {
    transform: rotate(0deg) translate(70%, 100%);
  }
}

@keyframes do-a-flip {
  from {
    transform: rotate(0deg) translate(70%, 100%);
  }
  20% {
    transform: rotate(5deg) translate(60%, 90%);
  }
  20% {
    transform: rotate(10deg) translate(50%, 80%);
  }
  60% {
    transform: rotate(90deg) translate(10%, 40%);
  }
  80% {
    transform: rotate(180deg) translate(0);
  }
  100% {
    transform: rotate(360deg) translate(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bye {
  0% {
    transform: rotate(0deg) scale(100%);
  }
  100% {
    transform: rotate(360deg) scale(0%);
  }
}

@keyframes pt3-text {
  0% { color: tomato;}
  50% { color: turquoise;}
  100% {color: palevioletred;}
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s alternate;
  }
  .skateboarder-ready {
    animation: ready infinite 1s linear;
  }
  .skateboarder-flip {
    animation: do-a-flip infinite 1s linear;
  }
  .skateboarder-faster {
    animation: spin infinite 0.3s linear;
  }
  .skateboarder-even-faster {
    animation: spin infinite 0.1s linear;
  }
  .skateboarder-oh-no-faster {
    animation: spin infinite 0.05s linear;
  }
  .app-what-have-you-done {
    animation: bye 2s forwards;
  }
  .what-have-you-done-text-pt3 {
    animation: pt3-text infinite .5s alternate;
  }
}

.App-header {
  background-image: url("./Images/carpet-pattern.jpg");
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-h1 {
  background-color: #c2d4f8;
  font-family: RockSalt-Regular;
  font-size: 5rem;
  /* color: purple; */
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}

.App-link {
  color: #61dafb;
}

.skateboarder {
  max-width: 40vh;
  align-self: center;
}

.ramp {
  max-width: 50vw;
  max-height: 40vh;
}
.skate-tricks {
  display: grid;
  align-items: center;
  justify-content: center;
}
.what-have-you-done {
  height: 100vh;
  width: 100vw;
  padding: 0%;
  font-family: RockSalt-Regular;
  font-size: larger;
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  /* align-self: center; */
  align-items: center;
}
.what-have-you-done-text-pt3 {
  margin: 0%;
}
.what-have-you-done-text-button {
  /* margin-left: auto;
  margin-right: auto; */
align-self: center;
}

button {
  background-color: purple;
  border-color: white;
  border-width: 3px;
  border-radius: 5px;
  font-family: GloriaHallelujah-Regular;
  font-size: larger;
  color: #c2d4f8;
}
/* .Body {
  background-image: url(./Images/small-skate-ramp-pbr-textures-01.jpeg);
  background-position: center;
  background-size: 50vh;
  background-repeat: no-repeat;
} */

/* main {
background-image: url(./Images/pattern3.png) url(./Images/small-skate-ramp-pbr-textures-01.jpeg);
background-repeat: repeat no-repeat;
background-position: center center;
} */
